extends pug/base

append vars
	- html.classList.push('page-index')

block content

	section.section.section-first-screen
		.cloud-1
		.cloud-2
		.container-fluid.no-padding(data-aos="zoom-in" data-aos-offset="100")
			h1 Века сменяются, характер остается

	section.section.section-screen-01
		img.screen-image(src="./images/pic/bg-screen-01.jpg" data-aos="zoom-out" data-aos-offset="10")
		.container-fluid.no-padding
			.row.no-padding
				.col-lg-6.col-md-4
					.screen-number.text-right(data-aos="fade-right" data-aos-delay="600")
						span 01
				.col-lg-6.col-md-8
					.screen-block.screen-block-blue(data-aos="fade-left" data-aos-delay="600")
						h2 «Александровский»
						p Идейные соображения высшего порядка, а также синтетическое тестирование влечет за собой процесс внедрения и модернизации кластеризации усилий. Учитывая ключевые сценарии поведения, существующая теория предполагает независимые способы реализации модели развития. Повседневная практика показывает, что глубокий уровень погружения обеспечивает актуальность приоритизации разума над эмоциями.
						p В частности, начало повседневной работы по формированию позиции требует анализа поставленных обществом задач. А также акционеры крупнейших компаний обнародованы. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса могут быть объединены в целые кластеры себе подобных.
	
	section.section.section-screen-02
		img.screen-image(src="./images/pic/bg-screen-02.jpg" data-aos="zoom-in" data-aos-delay="400")
		.container-fluid.no-padding
			.row.no-padding
				.col-lg-6.col-md-8
					.screen-block(data-aos="fade-right")
						h2 жить в старой доброй вятке
						p Идейные соображения высшего порядка, а также синтетическое тестирование влечет за собой процесс внедрения и модернизации кластеризации усилий. Учитывая ключевые сценарии поведения, существующая теория предполагает независимые способы реализации модели развития. 
						p В частности, начало повседневной работы по формированию позиции требует анализа поставленных обществом задач. А также акционеры крупнейших компаний обнародованы. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса могут быть объединены в целые кластеры себе подобных.
						a.button.button-black(href="#") Подробнее

				.col-lg-6.col-md-4
					.screen-number(data-aos="fade-left" data-aos-delay="800")
						span 02

	section.section.section-screen-03
		img.screen-image(src="./images/pic/bg-screen-03.jpg" data-aos="fade-right" data-aos-offset="10")
		.container-fluid.no-padding
			.row.no-padding
				.col-lg-6.col-md-4
					.screen-number.text-right(data-aos="fade-right" data-aos-delay="600" data-aos-offset="10")
						span 03
				.col-lg-6.col-md-8
					.screen-block.screen-block-blue(data-aos="fade-left" data-aos-delay="600" data-aos-offset="10")
						h2 Ваша крепость, которую не хочется покидать
						p Идейные соображения высшего порядка, а также синтетическое тестирование влечет за собой процесс внедрения и модернизации кластеризации усилий. Учитывая ключевые сценарии поведения, существующая теория предполагает независимые способы реализации модели развития. Повседневная практика показывает, что глубокий уровень погружения обеспечивает актуальность приоритизации разума над эмоциями.
						a.button(href="#") Подробнее
							
	section.section.section-screen-04
		.screen-slider-bg(style="background-image: url(./images/pic/bg-screen-04.jpg);" data-aos="zoom-out" data-aos-offset="10")
		.container-fluid.no-padding
			.row.no-padding
				.col-lg-6.col-md-8
					.screen-slider(data-aos="fade-right" data-aos-delay="600" data-aos-offset="10")
						.screen-slide(data-image="./images/pic/bg-screen-04.jpg")
							.screen-block
								h2 Наслаждаться преимуществами современных технологий
								h3 Отделка фасада рок-панелями
								p Идейные соображения высшего порядка, а также синтетическое тестирование влечет за собой процесс внедрения и модернизации кластеризации усилий. Учитывая ключевые сценарии поведения, существующая теория предполагает независимые способы реализации модели развития. Повседневная практика показывает, что глубокий уровень погружения обеспечивает актуальность приоритизации разума над эмоциями. 

						.screen-slide(data-image="./images/pic/bg-screen-03.jpg")
							.screen-block
								h2 Наслаждаться преимуществами
								h3 Отделка фасада рок-панелями
								p Идейные соображения высшего порядка, а также синтетическое тестирование влечет за собой процесс внедрения и модернизации кластеризации усилий. Учитывая ключевые сценарии поведения, существующая теория предполагает независимые способы реализации модели развития. Повседневная практика показывает, что глубокий уровень погружения обеспечивает актуальность приоритизации разума над эмоциями. 

				.col-lg-6.col-md-4
					.screen-number(data-aos="fade-left" data-aos-delay="600" data-aos-offset="10")
						span 04

	section.section.section-layout#layout
		.layout-container
			img(src="./images/pic/bg-layout.jpg")
			.layout-title(data-aos="zoom-in-down" data-aos-offset="10")
				p только
				span 48
				p Квартир
			<svg class="layout" data-aos="zoom-in-down" data-aos-offset="10" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 1560 929" xml:space="preserve" preserveAspectRatio="xMidYMin slice">
				<a class="layout-floor layout-floor-10" xmlns="" xlink:href="">
					<path d="M502 243V303L578 251H600L696 193L722 191L999.5 266.5V207L722 119L696 121L600 186H578L502 243Z"/>
					<circle class="layout-floor-number" cx="710" cy="160" r="24"/>
					<text x="700" y="170">10</text> 
					<text class="layout-floor-text" x="790" y="-90">этаж</text>
				</a>
				<a class="layout-floor layout-floor-9" xmlns="" xlink:href="">
					<path d="M512 296.163V337L578 297H600L696 243.5H722L999.5 311V266.5L722 191L696 193L600 251H578L512 296.163Z"/>
					<circle class="layout-floor-number" cx="710" cy="218" r="24"/>
					<text x="703" y="228">9</text> 
					<text class="layout-floor-text" x="777" y="5">этаж</text>
				</a>
				<a class="layout-floor layout-floor-8" xmlns="" xlink:href="">
					<path d="M512 337V378.5L578 344.5L600 348.5L696 300H722L999.5 355V311L722 243.5H696L600 297H578L512 337Z"/>
					<circle class="layout-floor-number" cx="710" cy="272" r="24"/>
					<text x="703" y="283">8</text> 
					<text class="layout-floor-text" x="767" y="100">этаж</text>
				</a>
				<a class="layout-floor layout-floor-7" xmlns="" xlink:href="">
					<path d="M512 378.5V412.5L555.5 391.5L600 397.5L696 357H722L902.5 387L999.5 361V355L722 300H696L600 348.5L578 344.5L512 378.5Z"/>
					<circle class="layout-floor-number" cx="710" cy="326" r="24"/>
					<text x="705" y="337">7</text> 
					<text class="layout-floor-text" x="760" y="180">этаж</text>
				</a>
				<a class="layout-floor layout-floor-6" xmlns="" xlink:href="">
					<path d="M600 397.5L556 391.5V445.5L569 450.5L600 453L696 420.5H722L885 443.5V384L722 357H696L600 397.5Z"/>
					<circle class="layout-floor-number" cx="710" cy="385" r="24"/>
					<text x="703" y="397">6</text> 
					<text class="layout-floor-text" x="750" y="290">этаж</text>
				</a>
				<a class="layout-floor layout-floor-5" xmlns="" xlink:href="">
					<path d="M600 453L569 450.5L548 442.5V497.5L569 505L600 506.5L696 483.5H722L885 499V443.5L722 420H696L600 453Z"/>
					<circle class="layout-floor-number" cx="710" cy="450" r="24"/>
					<text x="704" y="461">5</text> 
					<text class="layout-floor-text" x="750" y="370">этаж</text>
				</a>
				<a class="layout-floor layout-floor-4" xmlns="" xlink:href="">
					<path d="M600 506.5L569 505L548 497V556L569 560.5L600 562L696 548.5H722L885 558V498.5L722 483.5H696L600 506.5Z"/>
					<circle class="layout-floor-number" cx="710" cy="515" r="24"/>
					<text x="703" y="525">4</text> 
					<text class="layout-floor-text" x="745" y="460">этаж</text>
				</a>
				<a class="layout-floor layout-floor-3" xmlns="" xlink:href="">
					<path d="M600 562L569 560.5L548 556V606.5L569 609L600 610L696 602.5H722L885 607.5V558L722 548.5H696L600 562Z"/>
					<circle class="layout-floor-number" cx="710" cy="575" r="24"/>
					<text x="703" y="585">3</text> 
					<text class="layout-floor-text" x="743" y="563">этаж</text>
				</a>
				<a class="layout-floor layout-floor-2" xmlns="" xlink:href="">
					<path d="M600 610L569 609L548 606.5V657H569H600H696H722H885V607.5L722 602.5H696L600 610Z"/>
					<circle class="layout-floor-number" cx="710" cy="630" r="24"/>
					<text x="703" y="640">2</text> 
					<text class="layout-floor-text" x="743" y="630">этаж</text>
				</a>
			</svg>
		//- a.layout-floor.layout-floor-9(href="#")
		//- 	span.layout-floor-number 9
		//- 	span этаж
		//- a(href="#").layout-floor.layout-floor-8
		//- 	span.layout-floor-number 8
		//- 	span этаж
		//- a(href="#").layout-floor.layout-floor-7
		//- 	span.layout-floor-number 7
		//- 	span этаж
		//- a(href="#").layout-floor.layout-floor-6
		//- 	span.layout-floor-number 6
		//- 	span этаж
		//- a(href="#").layout-floor.layout-floor-5
		//- 	span.layout-floor-number 5
		//- 	span этаж
		//- a(href="#").layout-floor.layout-floor-4
		//- 	span.layout-floor-number 4
		//- 	span этаж
		//- a(href="#").layout-floor.layout-floor-3
		//- 	span.layout-floor-number 3
		//- 	span этаж
		//- a(href="#").layout-floor.layout-floor-2
		//- 	span.layout-floor-number 2
		//- 	span этаж


	section.section.section-screen-05.section-parking
		.container-fluid.no-padding
			.row.no-padding
				.col-lg-4
					.screen-block(data-aos="fade-right" data-aos-offset="10")
						.screen-number
							span 05
						h2 Выбор парковки
						p Идейные соображения высшего порядка, а также синтетическое тестирование влечет за собой процесс внедрения и модернизации кластеризации усилий.
						p Учитывая ключевые сценарии поведения, существующая теория предполагает независимые способы реализации модели развития.
				.col-lg-8
					.parking(data-aos="fade-left" data-aos-offset="10")
						.parking-img
							img(src="./images/pic/parking.png")
							.parking-hover
								a.parking-place.parking-place-1
								a.parking-place.parking-place-1-1
								a.parking-place.parking-place-1-2
								a.parking-place.parking-place-2
								a.parking-place.parking-place-3
								a.parking-place.parking-place-4
								a.parking-place.parking-place-5
								a.parking-place.parking-place-6
								a.parking-place.parking-place-7
								a.parking-place.parking-place-8
								a.parking-place.parking-place-8-1
								a.parking-place.parking-place-9
								a.parking-place.parking-place-10
								a.parking-place.parking-place-11
								a.parking-place.parking-place-12
								a.parking-place.parking-place-13
								a.parking-place.parking-place-14
								a.parking-place.parking-place-15
								a.parking-place.parking-place-16
								a.parking-place.parking-place-17
								a.parking-place.parking-place-18
								a.parking-place.parking-place-19
								a.parking-place.parking-place-20
								a.parking-place.parking-place-21
								a.parking-place.parking-place-22
								a.parking-place.parking-place-23
								a.parking-place.parking-place-24
								a.parking-place.parking-place-25
								a.parking-place.parking-place-26
								a.parking-place.parking-place-27
								a.parking-place.parking-place-28
								a.parking-place.parking-place-29
								a.parking-place.parking-place-30
								a.parking-place.parking-place-31
								a.parking-place.parking-place-32
								a.parking-place.parking-place-33
								a.parking-place.parking-place-33-1
								a.parking-place.parking-place-34
								a.parking-place.parking-place-35
								a.parking-place.parking-place-36
								a.parking-place.parking-place-37
								a.parking-place.parking-place-38
								a.parking-place.parking-place-39
								a.parking-place.parking-place-40

	section.section.section-photos
		.container-fluid.no-padding
			.row.no-padding
				.col-md-4
					.photos-item(style="background-image: url(./images/pic/photos-item-1.jpg)" data-aos="zoom-in" data-aos-offset="10")
						.photos-item-title 
							span Достопримечательности
						.photos-item-button
							a.button.button-black.button-full(href="#") Подробнее
				.col-md-4
					.photos-item(style="background-image: url(./images/pic/bg-first-screen.jpg)" data-aos="zoom-in" data-aos-offset="10")
						.photos-item-title 
							span Экстерьер дома
						.photos-item-button
							a.button.button-black.button-full(href="#") Подробнее
				.col-md-4
					.photos-item(style="background-image: url(./images/pic/photos-item-3.jpg)" data-aos="zoom-in" data-aos-offset="10")
						.photos-item-title 
							span Интерьер дома
						.photos-item-button
							a.button.button-black.button-full(href="#") Подробнее